@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

:root {
  font-family: 'Manrope', 'Segoe UI', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #0b1a4a;
  background-color: #eef2f7;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #eef2f7;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  display: flex;
  min-height: 100%;
}
